*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.active{
    background: #00d0ff;
    color: white;
    transform: skew(-10deg);
    -webkit-transform: skew(-10deg);
    -moz-transform: skew(-10deg);
    -ms-transform: skew(-10deg);
    -o-transform: skew(-10deg);
}